.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* src/App.css or src/styles.css */
.list-group-item {
  font-size: 1.2rem;
  padding: 15px;
  border: 1px solid #ddd;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}


/* src/App.css or src/styles.css */
.container {
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 8px;
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.card-text {
  font-size: 1.1rem;
  color: #34495e;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #16a085;
  margin-top: 20px;
}

.btn-secondary {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #2980b9;
}

.text-center {
  margin-top: 20px;
}